<nav>
        <div>
            <a  routerLink="/">Home</a>
            <a  routerLink="/page2">psybot</a>
            <a  routerLink="/page3">Register</a>
        </div>
      </nav>

<div class="card-container">
    <div class="hohoho">
  <div class="content" role="main">
  
            <div class="row">
              <div class="column"></div>
                  <div class="column column-50">
              <chat-dialog></chat-dialog>
              </div>
                <div class="column"></div>
            </div>
      
                                     
  
        </div>
  </div>
  
  
  </div>
  